@model FinalProject.Models.Setting

@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<h2>Update</h2>

<form method="post" enctype="multipart/form-data">

    <div class="form-horizontal">
        <h4>Setting</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.LogoDarkFile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="~/Uploads/Setting/@Model.LogoDark" alt="@Model.LogoDark" width="100" />
                @Html.TextBoxFor(model => model.LogoDarkFile, new { @class = "form-control", @type = "file" })
                @Html.ValidationMessageFor(model => model.LogoDarkFile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LogoLightFile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="~/Uploads/Setting/@Model.LogoLight" alt="@Model.LogoLight" width="100" />
                @Html.TextBoxFor(model => model.LogoLightFile, new { @class = "form-control", @type = "file" })
                @Html.ValidationMessageFor(model => model.LogoLightFile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VideoLink, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VideoLink, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VideoLink, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AboutImgFile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="~/Uploads/Setting/@Model.AboutImg" alt="@Model.AboutImg" width="100" />
                @Html.TextBoxFor(model => model.AboutImgFile, new { @class = "form-control", @type = "file" })
                @Html.ValidationMessageFor(model => model.AboutImgFile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HomeImgFile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="~/Uploads/Setting/@Model.HomeImg" alt="@Model.HomeImg" width="100" />
                @Html.TextBoxFor(model => model.HomeImgFile, new { @class = "form-control", @type = "file" })
                @Html.ValidationMessageFor(model => model.HomeImgFile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AboutTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AboutTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AboutTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AboutSubtitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AboutSubtitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AboutSubtitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AboutContent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.AboutContent, new { @class = "form-control", @id = "ckEditor1" })
                @Html.ValidationMessageFor(model => model.AboutContent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Copyright, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Copyright, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Copyright, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section ckEditor{
    <script src="//cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
}