@model List<FinalProject.Models.Blog>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div id="homePage">
        <!-- Intro Area Start -->
        @{
            Html.RenderPartial("~/Views/Shared/Intro.cshtml");
        }
        <!-- Intro Area End -->
        <!-- Blog Area Start -->
        <section id="blogArea">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-8">
                        <div class="title">
                            <h2 style="text-transform:capitalize;">Blogs</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="single-blog">
                                    <div class="blog-img">
                                        <a href="@Url.Action("Details","Blogs",new { id=item.Id})">
                                            <img src="~/Uploads/Blog/@item.Images.FirstOrDefault().Name" alt="">
                                        </a>
                                    </div>
                                    <div class="blog-info">
                                        <h4>
                                            <a href="@Url.Action("Details","Blogs",new { id=item.Id})">
                                                @item.Title
                                            </a>
                                        </h4>
                                        <p>
                                            <span>
                                                <i class="far fa-calendar"></i>
                                                @item.CreateDate.ToString("dd MMM yyyy")
                                            </span>
                                            <span>
                                                <i class="far fa-calendar"></i>
                                                @(item.Comments!=null?item.Comments.Count:0)
                                            </span>
                                        </p>
                                    </div>
                                    <div class="blog-content">
                                        <p>
                                            @(item.Content.Length>130?Html.Raw(item.Content.Substring(0, 130)) :Html.Raw(item.Content))
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p class="w-100" style="text-align:center">
                            Don't have any resaults.
                        </p>
                    }

                </div>
            </div>
        </section>

        <!-- Blog Area End -->
        <!-- Subscribe  Area Start -->
        @{
            Html.RenderPartial("~/Views/Shared/_Subscribe.cshtml");
        }
        <!-- Subscribe  Area End -->
    </div>

