@model FinalProject.Models.ProductInfo

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<h2>Edit</h2>

<form method="post" enctype="multipart/form-data">

    <div class="form-horizontal">
        <h4>ProductInfo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="col-md-10 form-group">
            <label>Product</label>
            <select class="form-control" name="ProductId">
                @foreach (var item in ViewBag.Product)
                {
                    <option value="@item.Id" @(item.Id == Model.ProductId ? "selected" : "")>@item.Name</option>
                }
            </select>
        </div>

        @if (Model.SaleBannerId != null)
        {
            <div class="saleBanner">
                <div class="col-md-10 form-group">
                    <label>Choose Sale banner</label>
                    <select class="form-control" name="salebannerid">
                        @foreach (var item in ViewBag.Sale)
                        {
                            <option value="@item.Id" @(item.Id == Model.ColorId ? "selected" : "")>@item.Name</option>
                        }
                    </select>
                </div>
            </div>
        }
        else
        {
            <div class="saleBanner">
                <div class="col-md-10 form-group">
                    <label>Choose Sale banner</label><span class="addItem">+</span>
                </div>
            </div>
        }

        <div class="col-md-10 form-group">
            <label>Size</label>
            <select class="form-control" name="SizeId">
                @foreach (var item in ViewBag.Size)
                {
                    <option value="@item.Id" @(item.Id == Model.SizeId ? "selected" : "")>@item.Name</option>
                }
            </select>
        </div>

        <div class="col-md-10 form-group">
            <label>Color</label>
            <select class="form-control" name="ColorId">
                @foreach (var item in ViewBag.Color)
                {
                    <option value="@item.Id" @(item.Id == Model.ColorId ? "selected" : "")>@item.Name</option>
                }
            </select>
        </div>

        @foreach (var item in Model.sizeOptions)
        {
            <div class="sizeOpt">
                <div class="col-md-10 form-group">
                    <label>Size options</label>
                    <div class="options" name="SizeOptions" style="display: flex;justify-content: space-between;">
                        <input class="form-control" name="SizeOptKey" type="text" placeholder="Option Key" style="width:49%" value="@item.Key" />
                        <input class="form-control" name="SizeOptValue" type="text" placeholder="Option Value" style="width:49%" value="@item.Value" />
                    </div>
                </div>
            </div>
        }

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SalePercent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SalePercent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SalePercent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.isNew, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.isNew, new { htmlAttributes = new { @style = "opacity:1;" } })
                    @Html.ValidationMessageFor(model => model.isNew, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.isTopSelling, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.isTopSelling, new { htmlAttributes = new { @style = "opacity:1;" } })
                    @Html.ValidationMessageFor(model => model.isTopSelling, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageFile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @foreach (var image in Model.Images)
                {
                    <img src="~/Uploads/Product/@image.Name" alt="Alternate Text" width="100" />

                }
                @Html.TextBoxFor(model => model.ImageFile, new { @class = "form-control", @type = "file", @multiple = "multiple" })
                @Html.ValidationMessageFor(model => model.ImageFile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
