@model IEnumerable<FinalProject.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmallDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.megaDesc)
        </th>
        <th>
            Catagory
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @(item.SmallDesc.Length>100?item.SmallDesc.Substring(0,100):item.SmallDesc)
    </td>
    <td>
        @(item.megaDesc.Length>100?item.megaDesc.Substring(0,100):item.megaDesc)
    </td>
    <td>
        @foreach(var cat in item.ProCategories)
        {
            <span>@cat.SubOfSubcategory.Name</span>
        }
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreateDate)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        <a href="@Url.Action("Delete","Products", new { id = item.Id })" onclick="return confirm('Are you sure?')">Delete</a>
    </td>
</tr>
}

</table>
